body {
    background-image: url("../images/feathers.png");
    background-size: contain;
}
header {
    border: solid 2px grey;
    text-align: center;
    height: 7em;
    font-family: 'Ribeye';
    width: 60%;
    margin: 0 auto;
    background-color: white;
}
h1 {
    margin-bottom: -17px;
    text-shadow: 3px 3px white;
}
#sectionImage {
    margin: 0 auto;
    width: 60%;
    height: 600px;
    border: solid 2px grey;
    background-image: url("../images/6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
button {
    float: right;
    position: relative;
    bottom: 1em;
    right: 3em;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    right: 25%;
    background-color: yellow;
    border: ridge 2px dodgerblue;
    font-family: 'Ribeye';
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
button:focus {
    outline: none;
}
    #incorrect {
    width: 14%;
    height: 9%;
    font-family: 'Finger Paint', 'courier New';
    font-size: 1.2em;
    font-weight: bold;
    border: solid 2px dodgerblue;
    display: inline;
    position: fixed;
    top: 80%;
    right: 61%;
    border-radius: 40px;
    background-color: yellow;
    text-align: center;
}
#guessThis {
    /* position: fixed; */
    text-align: center;
    padding-top: 3em;
    font-family: 'Finger Paint', 'courier New';
    font-size: 1.2em;
    font-weight: bold;
}
#remainingGuesses {
    font-family: 'Finger Paint', 'courier New';
    font-size: 1.2em;
    font-weight: bold;
    color: yellow;

}
@media  screen and (max-width: 466px) {
#guessThis {
    position: absolute;
    top: 12em;
    right: 6em;
}
#sectionImage {
    width: 80%;
    height: 600px;
}
button { 
    bottom: 5em;}
}
@media screen and (max-width: 768px) {
    #guessThis {
        right: 2em;
    position: relative;
    }
    #sectionImage {
        width: 80%;
}
}
@media screen and (max-width: 425px) {
    #guessThis {
        position: absolute;
        top: 11em;
        right: 5em;
    }
    }